body {
    margin: 0;
    padding: 0;
    padding-top: 90px;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

li {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

:global(.clear-fix:after) {
    display: table;
    content: '';
    clear: both;
}

:global(.float-left) {
    float: left;
}

:global(.float-right) {
    float: right;
}
